doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet',href='/framework/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript',src='/framework/jquery/dist/jquery.min.js')
  body(style="padding:0 0 50px 0;")
    include components/header
    block content
    include components/footer
    script(type='text/javascript',src='/framework/bootstrap/dist/js/bootstrap.min.js')
